#portfolio {
  background-color: #ffdd99;
  padding: 125px 0;

  .layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title,
    #filter-buttons,
    .desc-container {
      margin-bottom: 60px;
    }
    .title {
      .underline {
        background-color: #e5c37f;
      }
      p {
        color: white;
      }
    }
    #filter-buttons {
      display: flex;

      button {
        color: black;
        padding: 5px 20px;
        background-color: #ebc985;
        margin: 0 5px;
        border-radius: 5px;
        transition: all 0.25s;
      }
      button:hover {
        background-color: #ffffff;
      }
      .active {
        background-color: #ffffff;
      }
    }

    .desc-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .desc-item-section {
        display: flex;
        .desc-item {
          margin: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          img {
            width: 380px;
            margin-bottom: 20px;
            transition: all 0.25s;
            object-fit: cover;
          }
          img:hover {
            transform: scale(1.05);
          }
          h2 {
            font-size: 24px;
            color: #393939;
          }
        }
      }
    }
    .btn {
      background-color: #17c2a4;
    }
    .btn:hover {
      background-color: darken($color: #17c2a4, $amount: 5);
    }
  }
}

//=======( Media_Queries )=======//

// Tablet
@media screen and (max-width: 991px) {
  main {
    #portfolio {
      padding: 80px 0;

      .layout-container {
        .title,
        #filter-buttons,
        .desc-container {
          margin-bottom: 50px;
        }

        .desc-container {
          flex-wrap: wrap;

          .desc-item-section {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .desc-item {
              width: 100%;

              img {
                width: 60vw;
              }
            }
          }
        }
      }
    }
  }
}

// Mobiles__small
@media screen and (max-width: 575px) {
  main {
    #portfolio {
      padding: 70px 0;

      .layout-container {
        #filter-buttons {
          flex-wrap: wrap;
          justify-content: center;

          button {
            width: 30%;
          }
          button:last-child {
            margin-top: 30px;
          }
        }
        .desc-container {
          img {
            width: 80vw;
          }
        }
        .btn {
          width: 100%;
        }
      }
    }
  }
}
